* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  padding: 1rem;
  text-align: center;
}

h2 {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.album-container {
  margin: 2rem 0;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photos-container-element {
  width: 150px;
  height: calc(150px + 1.5rem);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photos-container-element span {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.photos-container-element span.z_index {
  position: relative;
  z-index: 1;
}

.photos-container-element small {
  text-transform: capitalize;
}
